[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/libdwarf-code"]
	path = 3rdparty/libdwarf-code
	url = https://github.com/davea42/libdwarf-code.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdparty/lua"]
	path = 3rdparty/lua
	url = https://github.com/lua/lua.git
[submodule "3rdparty/sol2"]
	path = 3rdparty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "3rdparty/implot"]
	path = 3rdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "3rdparty/cmrc"]
	path = 3rdparty/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "3rdparty/ElfStaticView"]
	path = 3rdparty/ElfStaticView
	url = https://github.com/HamsterAPig/ElfStaticView.git
[submodule "3rdparty/pocketfft"]
	path = 3rdparty/pocketfft
	url = https://github.com/mreineck/pocketfft.git
